body{
font-family:"EB Garamond", serif;
background:#0b3d0b;
color:white;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
color:black;
}

th,td{
padding:10px;
border-bottom:1px solid #ddd;
}

#header{
text-align:center;
margin-bottom:10px;
}

#header img{
max-width:200px;
width:100%;
height:auto;
display:block;
margin:auto;
}

#navbar{
display:flex;
gap:20px;
background:#083608;
padding:12px;
margin-bottom:20px;
}

#navbar a{
color:#FFD700;
text-decoration:none;
font-weight:bold;
font-size:16px;
}

#navbar a:hover{
text-decoration:underline;
color:#fff3a0;
}

#tournamentInfo{
background:white;
color:black;
padding:12px;
border-radius:6px;
margin-bottom:15px;
text-align:center;
font-weight:bold;
}

.cutline{
color:#0b3d0b;
font-size:18px;
margin-bottom:10px;
font-weight:bold

}

#tournamentStatus{
font-size:14px;
color:#666;
}

#expandNote{
text-align:center;
margin-bottom:10px;
font-size:14px;
color:#ddd;
}

.arrow{
margin-right:8px;
color:#0b3d0b;
font-weight:bold;
}

#leaderboard tbody tr:hover{
background:#f4f4f4;
cursor:pointer;
}

#updateInfo{
text-align:center;
font-size:13px;
margin-bottom:10px;
color:#ddd;
}

.refreshSpinner{
margin-left:10px;
color:#FFD700;
font-weight:bold;
display:none;
}

.team{
background:white;
color:black;
padding:10px;
margin-bottom:10px;
border-radius:5px;
}

.team h3{
margin:0;
cursor:pointer;
}

.teamSearch{
padding:8px;
width:250px;
border-radius:4px;
border:none;
}

.players{
display:none;
margin-top:10px;
}

.selected{
background:gold;
}

button{
padding:8px;
margin:3px;
}

.player{
display:block;
margin:2px;
}

.tiebreaker{
font-size:11px;
color:#777;
}

.instructions{
background:white;
color:black;
padding:15px;
border-radius:6px;
margin-bottom:20px;
}

.lockCountdown{
text-align:center;
margin-bottom:15px;
font-weight:bold;
color:#FFD700;
}

.message{
margin-top:20px;
font-weight:bold;
}